# Ignore compiled files and directories
# bin/
# obj/
# .cache/

main

*.o
*.out
*.exe
*.odt
*.doc
*.docx
*.json

.clang-format

# Ignore compressed files
*.zip
*.tar.gz
*.tar
*.gz
*.rar
*.7z

# Ignore lecture directories
#**/lec/
**/tmp/
**/bin/
**/obj/
**/.cache/
